@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 43, 46, 113, 1;
    --background-end-rgb: 119, 60, 195, 1;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, #2b2e71 302px, #773cc3 1016px),
    repeating-linear-gradient(180deg, #783dc3 1px, #3f3f7f 1218px);

  /* rgb(var(--background-start-rgb)), */
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f66672 #3f3f7f;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #3f3f7f;
}

*::-webkit-scrollbar-thumb {
  background-color: #f66672;
  border-radius: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.yarl__video_container {
  width: fit-content !important;
  background: black;
}

@media screen and (max-width: 1024px) {
  .yarl__flex_center {
    flex-direction: column !important;
  }
  .yarl__video_container {
    max-height: 80%;
  }
}
